services:
  app:
    build: ./app
    ports:
      - 8080:8080
    depends_on:
      - mysql
    environment:
      DB_HOST: mysql
      DB_USER: app-user
      DB_PASSWORD: password
      DN_NAME: demo_app

  mysql:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: demo_app
      MYSQL_USER: app-user
      MYSQL_PASSWORD: password
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:

