#cloud-config

package_update: true
package_upgrade: true

packages:
  - python3
  - python3-pip
  - git
  - mysql-server
  - redis-server

write_files:
  - path: /etc/systemd/system/flaskapp.service
    owner: root:root
    permissions: "0644"
    content: |
      [Unit]
      Description=Flask Demo App
      After=network.target mysql.service

      [Service]
      User=ubuntu
      WorkingDirectory=/opt/devops-demo/demo-app
      ExecStart=/usr/bin/python3 /opt/devops-demo/demo-app/app.py
      Restart=always
      Environment=PYTHONUNBUFFERED=1

      [Install]
      WantedBy=multi-user.target

runcmd:
  # Clone GitHub
  - git clone https://github.com/plssendhelp/DevOps-Projekt /opt/devops-demo
  - chown -R ubuntu:ubuntu /opt/devops-demo

  # MySQL setup
  - systemctl enable mysql
  - systemctl start mysql
  - mysql -e "CREATE DATABASE IF NOT EXISTS demo_app;"
  - mysql -e "CREATE USER IF NOT EXISTS 'app-user'@'localhost' IDENTIFIED BY 'password';"
  - mysql -e "GRANT ALL PRIVILEGES ON demo_app.* TO 'app-user'@'localhost';"

  # Python dependencies
  - pip3 install -r /opt/devops-demo/demo-app/requirements.txt

  # Start app service
  - systemctl daemon-reload
  - systemctl enable flaskapp
  - systemctl start flaskapp
